$breakpoint-small: 600px;
$breakpoint-medium: 900px;

// Цвета статуса записи.
$entry-status-reading-color: #5aa0c8;
$entry-status-reading-text-color: #4a92bd;
$entry-status-done-color: #4caf6e;
$entry-status-dropped-color: #b94040;
